<?xml version="1.0"?>
<config>
    <modules>
        <AW_FBIntegrator>
            <version>1.0.4</version>
        </AW_FBIntegrator>
    </modules>
    <frontend>
        <translate>
            <modules>
                <AW_FBIntegrator>
                    <files>
                        <default>AW_FBIntegrator.csv</default>
                    </files>
                </AW_FBIntegrator>
            </modules>
        </translate>
        <routers>
            <fbintegrator>
                <use>standard</use>
                <args>
                    <module>AW_FBIntegrator</module>
                    <frontName>fbintegrator</frontName>
                </args>
            </fbintegrator>
        </routers>
        <secure_url>
            <fbintegrator>/fbintegrator/</fbintegrator>
        </secure_url>
        <layout>
            <updates>
                <fbintegrator>
                    <file>fbintegrator.xml</file>
                </fbintegrator>
            </updates>
        </layout>
        <events>
        	<sales_order_save_after>
        		<observers>
        			<referafriend>
        				<type>singleton</type>
                        <class>AW_FBIntegrator_Model_Observer</class>
                        <method>facebookPublishOrder</method>
        			</referafriend>
        		</observers>
        	</sales_order_save_after>
        </events>
    </frontend>
    <admin>
        <routers>
			<fbintegrator>
				<use>admin</use>
				<args>
					<module>AW_FBIntegrator</module>
					<frontName>fbintegrator</frontName>
				</args>
			</fbintegrator>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <AW_FBIntegrator>
                    <files>
                        <default>AW_FBIntegrator.csv</default>
                    </files>
                </AW_FBIntegrator>
            </modules>
        </translate>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<fbintegrator>
											<title>aheadWorks - Facebook Integrator</title>
										</fbintegrator>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<fbintegrator>
					<file>fbintegrator.xml</file>
				</fbintegrator>
			</updates>
		</layout>
    </adminhtml>   
    <global>
    	<models>
            <fbintegrator>
                <class>AW_FBIntegrator_Model</class>
                <resourceModel>fbintegrator_mysql4</resourceModel>
            </fbintegrator>
            <fbintegrator_mysql4>
                <class>AW_FBIntegrator_Model_Mysql4</class>
            </fbintegrator_mysql4>
        </models>
        <resources>
            <fbintegrator_setup>
                <setup>
                    <module>AW_FBIntegrator</module>
                    <class>AW_FBIntegrator_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fbintegrator_setup>
            <fbintegrator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fbintegrator_write>
            <fbintegrator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fbintegrator_read>
        </resources>
        <blocks>
            <fbintegrator>
                <class>AW_FBIntegrator_Block</class>
            </fbintegrator>
        </blocks>
        <helpers>
            <fbintegrator>
                <class>AW_FBIntegrator_Helper</class>
            </fbintegrator>
        </helpers>
    </global>
	<default>
        <fbintegrator>
            <facebook>
                <enabled>0</enabled>
                <api_key></api_key>
                <secret></secret>
                <post_message>I've just purchased {items_count} item(s) at Magento Store {store_link}</post_message>
                <post_link_text>View {item_name} for {item_price}</post_link_text>
                <post_link>{item_link}</post_link>
                <items_count>0</items_count>
            </facebook>
        </fbintegrator>
    </default>
</config>