<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Velite_Teaserbox>
            <version>1.2.0</version>
        </Velite_Teaserbox>
    </modules>
    <global>
        <blocks>
            <teaserbox>
                <class>Velite_Teaserbox_Block</class>
            </teaserbox>
        </blocks>
        <helpers>
            <teaserbox>
                <class>Velite_Teaserbox_Helper</class>
            </teaserbox>
        </helpers>
        <models>
            <teaserbox>
                <class>Velite_Teaserbox_Model</class>
            </teaserbox>
        </models>
        <resources>
            <teaserbox_setup>
                <setup>
                    <module>Velite_Teaserbox</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </teaserbox_setup>
            <teaserbox_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </teaserbox_write>
            <teaserbox_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </teaserbox_read>
        </resources>
    </global>
    <default>
       <teaserbox>
            <general>
                <tbWidth>400</tbWidth>
            	<tbHeight>200</tbHeight>
                <stageColor>FFFFFF</stageColor>
                <enableTimer>1</enableTimer>
                <timer>3</timer>
				<direction>horizontal</direction> 
				<containerSpeed>1</containerSpeed> 
				<showButtons>1</showButtons> 
				<buttonTransparency>8</buttonTransparency>                 
            </general>
        </teaserbox>
    </default>
    <frontend>
        <routers>
            <Velite_Teaserbox>
                <use>standard</use>
                <args>
                    <module>Velite_Teaserbox</module>
                    <frontName>teaserbox</frontName>
                </args>
            </Velite_Teaserbox>
        </routers>
    </frontend>
    <adminhtml>    
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Velite_Teaserbox>
                            <title>Teaserbox</title>
                            <sort_order>10</sort_order>
                        </Velite_Teaserbox>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <teaserbox>
                                            <title>Teaserbox Section</title>
                                        </teaserbox>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>    
    </adminhtml>
</config>
